Repository sergey-sivchenko/famcs-react-course: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint, stylelint, imagemin-lint-staged

refactor(public): restructure public folder
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicons/android-chrome-192x192.png
  public/favicons/android-chrome-512x512.png
  public/favicons/apple-touch-icon.png
  public/favicons/favicon.ico
  public/favicons/mstile-150x150.png
  public/favicons/safari-pinned-tab.svg
  public/index.html
  public/manifest.json
  public/mstile-150x150.png
Due: prettier --write --ignore-unknown, imagemin-lint-staged

feat(vitals): remove console reporter
  src/index.js
Due: prettier --write --ignore-unknown, eslint, stylelint

docs(readme): update readme
  README.md
Due: prettier --write --ignore-unknown

Week 3 - JSX, components and props
  .gitignore
  package-lock.json
  package.json
  src/App.js
  src/Todo/Todo.css
  src/Todo/Todo.js
  src/Todo/TodoMessage/TodoMessage.js
  src/Todo/TodoMessage/img/check-mark.png
  src/Todo/TodoMessage/img/close.png
  src/Todo/TodoMessage/styled.js
Due: prettier --write --ignore-unknown, eslint, stylelint, imagemin-lint-staged

feat(project): add folders structure
  src/App.css
  src/App.js
  src/App.test.js
  src/Todo/Todo.css
  src/Todo/TodoMessage/TodoMessage.js
  src/__snapshots__/App.test.js.snap
  src/assets/logo.svg
  src/index.css
  src/index.js
  src/pages/Main/index.js
  src/pages/Main/styled.js
  src/pages/Todo/TodoMessage/img/check-mark.png
  src/pages/Todo/TodoMessage/img/close.png
  src/pages/Todo/TodoMessage/index.js
  src/pages/Todo/TodoMessage/styled.js
  src/pages/Todo/index.js
  src/pages/Todo/index.module.css
Due: prettier --write --ignore-unknown, eslint, stylelint, imagemin-lint-staged

feat(week-4): examples from class
  src/pages/Todo/TodoMessage/index.js
  src/pages/Todo/TodoMessage/styled.js
  src/pages/Todo/index.js
  src/pages/Todo/index.module.css
Due: prettier --write --ignore-unknown, eslint, stylelint

feat(week-4): update first dynamic page
  .stylelintrc
  package.json
  src/components/Header/index.js
  src/components/Header/styled.js
  src/index.css
  src/pages/Main/index.js
  src/pages/Main/styled.js
  src/pages/Todo/TodoItem/index.js
  src/pages/Todo/TodoItem/styled.js
  src/pages/Todo/TodoMessage/img/check-mark.png
  src/pages/Todo/TodoMessage/img/close.png
  src/pages/Todo/TodoMessage/index.js
  src/pages/Todo/TodoMessage/styled.js
  src/pages/Todo/index.js
  src/pages/Todo/index.module.css
  src/pages/Todo/styled.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint, stylelint, imagemin-lint-staged

Week 5: working with lists + forms
  src/pages/Todo/TodoForm/index.js
  src/pages/Todo/TodoForm/styled.js
  src/pages/Todo/TodoItem/index.js
  src/pages/Todo/index.js
Due: prettier --write --ignore-unknown, eslint, stylelint

Add delete icon, fix styles, fix empty todo creation
  src/pages/Todo/TodoForm/index.js
  src/pages/Todo/TodoForm/styled.js
  src/pages/Todo/TodoItem/index.js
Due: prettier --write --ignore-unknown, eslint, stylelint

feat(week-5): hooks and local storage
  src/hooks/use-async/index.js
  src/pages/Todo/TodoForm/index.js
  src/pages/Todo/TodoForm/styled.js
  src/pages/Todo/TodoItem/index.js
  src/pages/Todo/TodoItem/styled.js
  src/pages/Todo/index.js
  src/services/storage/index.js
  src/storage-requests/index.js
  src/storage-requests/todos/index.js
Due: prettier --write --ignore-unknown, eslint, stylelint

Add redux
  package-lock.json
  package.json
  src/index.js
  src/pages/Todo/TodoForm/index.js
  src/pages/Todo/TodoItem/index.js
  src/pages/Todo/index.js
  src/store/index.js
  src/store/todo/index.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint, stylelint

fix(week-7): remove package-lock
  package-lock.json
Due: prettier --write --ignore-unknown

feat(week-8): add react-router and its basic usage
  package.json
  src/index.js
  src/pages/Main/index.js
  src/pages/Todo/index.js
  src/pages/TodosList/index.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint, stylelint

Path conditions:
  prettier --write --ignore-unknown: any of: **/*
  eslint: any of: *.{js,jsx}
  stylelint: any of: *.{css,js}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
